<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StatWinner</title>
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/CommonCss")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/JQueryPlugins")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular") 
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryplugins")

</head>
<body class="com_content view-category task- itemid-101 body__main">

    <div id="wrapper">
        <div class="wrapper-inner">
            <div class="back_head">
                @Html.Partial("_HeaderPartial")
                <div id="navigation-row">
                    <div class="row-container">
                        <div class="container">
                            <div class="row">
                                <nav>
                                    <div class="moduletable navigation  span12">
                                        <ul class="sf-menu   sf-js-enabled">
                                            <li class="item-101 current active firstItem"><span class="sfHolder"><a href="/Manage/Administration">Administration</a></span></li>
                                            <li class="item-167 deeper parent">
                                                <span class="sfHolder">
                                                    <a href="/joomla_47852/index.php/about-our-company">About our school</a>
                                                    <ul class="sub-menu">
                                                        <li class="item-172 firstItem"><span class="sfHolder"><a href="/joomla_47852/index.php/about-our-company/history">History</a></span></li>
                                                        <li class="item-170 deeper parent">
                                                            <span class="sfHolder">
                                                                <a href="/joomla_47852/index.php/about-our-company/team">Team</a><ul class="sub-menu">
                                                                    <li class="item-171 lastItem firstItem"><span class="sfHolder"><a href="/joomla_47852/index.php/about-our-company/team/testimonials">Testimonials</a></span></li>
                                                                </ul>
                                                            </span>
                                                        </li>
                                                        <li class="item-168 lastItem"><span class="sfHolder"><a href="/joomla_47852/index.php/about-our-company/faqs">FAQs</a></span></li>
                                                    </ul>
                                                </span>
                                            </li>
                                            <li class="item-169"><span class="sfHolder"><a href="/joomla_47852/index.php/our-gallery">our gallery</a></span></li>
                                            <li class="item-173"><span class="sfHolder"><a href="/joomla_47852/index.php/training">training</a></span></li>
                                            <li class="item-109"><span class="sfHolder"><a href="/joomla_47852/index.php/latest-news-events">latest news &amp; events</a></span></li>
                                            <li class="item-102 lastItem"><span class="sfHolder"><a href="/joomla_47852/index.php/contacts">Contacts</a></span></li>
                                        </ul><select class="select-menu"><option value="#">Navigate to...</option><option value="http://livedemo00.template-help.com/joomla_47852/" selected="selected">main page</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/about-our-company">About our school</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/about-our-company/history">–History</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/about-our-company/team">–Team</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/about-our-company/team/testimonials">––Testimonials</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/about-our-company/faqs">–FAQs</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/our-gallery">our gallery</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/training">training</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/latest-news-events">latest news &amp; events</option><option value="http://livedemo00.template-help.com/joomla_47852/index.php/contacts">Contacts</option></select>
                                        <script type="text/javascript">
                                            // initialise plugins
                                            jQuery(function () {
                                                jQuery('ul.sf-menu')
                                                .superfish({
                                                    hoverClass: 'sfHover',
                                                    pathClass: 'overideThisToUse',
                                                    pathLevels: 1,
                                                    delay: 500,
                                                    animation: { opacity: 'show', height: 'show' },
                                                    speed: 'normal',
                                                    speedOut: 'fast',
                                                    autoArrows: false,
                                                    disableHI: false,
                                                    useClick: 0,
                                                    easing: "swing",
                                                    onInit: function () { },
                                                    onBeforeShow: function () { },
                                                    onShow: function () { },
                                                    onHide: function () { },
                                                    onIdle: function () { }
                                                });
                                            });

                                            jQuery(function () {
                                                jQuery('.sf-menu').mobileMenu({
                                                    defaultText: 'Navigate to...',
                                                    className: 'select-menu',
                                                    subMenuClass: 'sub-menu'
                                                });
                                            })

                                            jQuery(function () {
                                                var ismobile = navigator.userAgent.match(/(iPhone)|(iPod)|(android)|(webOS)/i)
                                                if (ismobile) {
                                                    jQuery('.sf-menu').sftouchscreen({});
                                                }
                                            });
                                        </script>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()

            <div id="push"></div>
        </div>
    </div>
    <div id="footer-wrapper">
        <div class="footer-wrapper-inner">


            <div id="copyright-row">
                <div class="row-container">
                    <div class="container">
                        <div class="row">
                            <div id="copyright" class="span6">
                                <span class="year">2015</span> <span class="copy">©</span> <a class="privacy_link" href="/joomla_47852/index.php/privacy-policy">Privacy Policy</a>
                            </div>
                            <div class="moduletable span6">
                                <div class="mod-menu__social">
                                    <ul class="menu social">
                                        <li class="item-146 firstItem"><a class="facebook" href="#">Facebook</a></li>
                                        <li class="item-148"><a class="twitter" href="#">Twitter</a></li>
                                        <li class="item-147 lastItem"><a class="feed" href="#">Feed</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="back-top">
        <a href="#"><span></span> </a>
    </div>
    <div id="galleryOverlay"><div id="gallerySlider"></div><a id="prevArrow"></a><a id="nextArrow"></a></div><div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div>
    <script type="text/javascript" src="http://js-agent.newrelic.com/nr-100.js"></script>
    <script type="text/javascript" src="http://beacon-1.newrelic.com/1/72d7dcce33?a=1388850&amp;be=383&amp;qt=0&amp;ap=3397&amp;dc=784&amp;fe=2512&amp;to=ZV1TZ0FTVkFVWkwKXlwXZEFaHRIdXVdcBkkcSFlD&amp;v=42&amp;jsonp=NREUM.setToken&amp;perf=%7B%22timing%22%3A%7B%22of%22%3A1440142095636%2C%20%22n%22%3A0%2C%20%22dl%22%3A375%2C%20%22di%22%3A1168%2C%20%22ds%22%3A1168%2C%20%22de%22%3A1223%2C%20%22dc%22%3A2883%2C%20%22l%22%3A2894%2C%20%22le%22%3A2895%2C%20%22r%22%3A0%2C%20%22re%22%3A278%2C%20%22f%22%3A278%2C%20%22dn%22%3A278%2C%20%22dne%22%3A278%2C%20%22c%22%3A278%2C%20%22ce%22%3A278%2C%20%22rq%22%3A279%2C%20%22rp%22%3A374%2C%20%22rpe%22%3A397%7D%2C%20%22navigation%22%3A%7B%22rc%22%3A1%7D%7D"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
